<html>
  <head>
    <title>SAW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="<%= htmlWebpackPlugin.options.metadata %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/favicons/manifest.json" />
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>